@font-face {
  font-family: 'Nexa Bold';
  src: url('{{ .Site.BaseURL }}fonts/Nexa Bold.otf');
}

body {
  font-family: 'Nexa Bold', Optima, Candara, Calibri;

}
code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 85%;
}
